KITTI-MOTS/
*.png
*.jpg
*.pkl
*.pth
detectron/
wandb/
TripletsAndSiamese/
Week4/main.ipynb
Week4/utils_server.py
Week4/task_d.ipynb
Week4/server.py
Week4/prueba.py
Week4/get_caption.ipynb
Week4/fasttext_wiki.en.bin
Week4/custom_images/sigrid_chiquita.jpeg
Week4/custom_images/sigrid.jpeg
Week4/__pycache__/utils.cpython-39.pyc
Week4/__pycache__/utils.cpython-310.pyc
Week4/__pycache__/metrics.cpython-39.pyc
Week4/__pycache__/metrics.cpython-310.pyc
COCO/captions_train2014.json
COCO/captions_val2014.json
COCO/instances_val2014.json
COCO/instances_train2014.json
COCO/mcv_image_retrieval_annotations.json
