KITTI-MOTS/
*.png
*.jpg
*.pth
detectron/
wandb/
TripletsAndSiamese/
Week4/main.ipynb
Week4/utils_server.py
Week4/task_d.ipynb
Week4/server.py
Week4/prueba.py
Week4/get_caption.ipynb
Week4/fasttext_wiki.en.bin
Week4/custom_images/sigrid_chiquita.jpeg
Week4/custom_images/sigrid.jpeg
Week4/__pycache__/utils.cpython-39.pyc
Week4/__pycache__/utils.cpython-310.pyc
Week4/__pycache__/metrics.cpython-39.pyc
Week4/__pycache__/metrics.cpython-310.pyc
COCO/captions_train2014.json
COCO/captions_val2014.json
COCO/instances_val2014.json
COCO/instances_train2014.json
COCO/mcv_image_retrieval_annotations.json
*.gguf
*.bin
Week5/llama.ipynb
Week5/task_b_full.py
Week5/utils_w4.py
*.pkl
*.wav
/backup
/Week6/data
/Week6/evaluation_script
/Week6/model_classification
/Week6/model_classification_freeze_backbone
/Week6/model_classification_metric_learning
/Week6/baseline_InceptionResnetV1
/Week6/custom_data
/Week6Dani
/Week6/try_models
Week6/validation_custom.csv
Week6/train_custom.csv
Week6/test_custom.csv
*.pdf
*.gv
*.pt
*.csv
Week5/week4_cb3.py
Week5/week4_cb3.py
